body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: rgb(9, 68, 9);
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 3%;
    color: yellow;
}

#qrImage {
    width: 150px;
}

.titleImage{
    width: 250px;
    margin-top: 1em;
}

#gameId{
    font-size: 3em;
    font-weight: 700;
    color: yellow;
}

#gameIdDisplay {
    display: none;
    color: rgb(222, 219, 219);
}

#createGameBtn {
    height: 2em;
    border-radius: 5px;
    font-size: 1.5em;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
    width: 95vmin; 
    height: 100vmin; 
    max-width: 100%; 
    max-height: 100%; 
    margin: auto; 
    gap: 2px; 
    transform: rotate(-90deg);
  }


  .board > div {
    background-size: cover; 
    background-position: center; 
    aspect-ratio: 2.75 / 4; 
    border: 1px solid #555; 
  }


.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
   
}

.circle.green {
    background-color: rgb(17, 161, 12);
}

.circle.blue {
    background-color: rgb(46, 46, 250);
}

.circle.green, .circle.blue{
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3), 
    inset -2px -2px 4px rgba(255, 255, 255, 0.5), 
    0 1px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.circle.green::before,
.circle.green::after, 
.circle.blue::before,
.circle.blue::after

{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset;
}

.circle::before {
    top: 50%;
    left: 30%;
}

.circle::after {
    top: 30%;
    right: 30%;
}

.circle.none {
    box-shadow: none;
    background-color: green;
}

#player{
    width: 500px;
    height: 500px;
    background-color: rgb(116, 116, 116);
    position: absolute;
}

#heldCards{
    display: flex;
    justify-content:space-evenly ;
}

#discardedCardsContainer {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  
}

#discardedCards {
    background-size: contain;
    background-position: center;
    height: 100px;
    background-repeat: no-repeat;
    background-image: URL(images/bkgr.png);

}

@media only screen and (max-width: 1000px) {
    .board{
        display: none;

    }
    #playerCards {
        width: 98vw;
    }

}




body { 
    font-family: Arial, sans-serif; 
    color: yellow;
    background-color:  rgb(9, 68, 9);
}

#gameIdInput {
    height: 1.5em;
    background-color: rgb(17, 40, 17);
    border-radius: 10px;
    width: 10em;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 5px rgb(18, 228, 7);
    color: rgb(18, 228, 7);
}

.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 1em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}








.button-83 {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 14px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

















#playerCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    aspect-ratio: 21 / 4;
    margin-bottom: 3em;
}


.playerCard {
    flex: 1;                       
    margin: 0 0.5vw;               
    background-size: cover;
    background-position: center;  
    border-radius: 2px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    aspect-ratio: 2.75 /4;
    width: 100px;
    margin-bottom: 3em;
    }

#playerMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
}